.cart {
  width: 1240px;
  margin-top: 80px;
  min-height: 390px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}
.cart_content {
  width: 817px;
  left: 100px;
  border-radius: 20px;
}
.total {
  width: 393px;
  height: 200px;
  top: 488px;
  left: 947px;
  background-color: var(--background-color-components);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}
li {
  list-style-type: none;
}
.header {
  background-color: var(--background-color-components);
  border-top: none;
  width: 817px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 220px;
  padding-right: 130px;
}
.products {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 10px;
}
.image {
  width: 108px;
  height: 105px;
  border-radius: 17px;
}
.headerProduct {
  padding-right: 10px;
}
.headerPrice {
  padding-left: 40px;
}
.headerSubtotal {
  padding-right: 10px;
}
.btn {
  border-radius: 10px;
  width: 200px;
}
.allTotal {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
