.cart {
  width: 285px;
  background-color: #f4f5f7;
  text-decoration: none;
}

.sofa {
  height: 310px;
  width: 285px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.information {
  margin-top: 0px;
  padding-top: 17px;
  padding-left: 16px;
  width: 285px;
  height: 170px;
}

.information_content {
  max-width: 249px;
  max-height: 100px;
  padding-left: 16px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: start;
}

.price {
  color: black;
}
