.passport {
  display: flex;
  gap: 150px;
  margin-top: 65px;
  justify-content: center;
}

.description {
  height: 350px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.text {
  padding-top: 25px;
}
